html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0;
  /* overflow: hidden; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-fg-default);
  background-color: var(--color-canvas-default)
}

.contitle {
  text-align: center;
  display: table-column;
  position: absolute;
  background-color: transparent;
  width: 300px;
  height: 50px;
  z-index: 2000;
  top: 0;
}

.title {
  color: #8d99c6;
}

d-none {
  display: none !important
}

.homeHeroContainer {
  min-height: 750px;
  max-height: 926px;
  background-color: #040d21;
  background-repeat: no-repeat;
}

@media(min-width: 544px) {
  .homeHeroContainer {
      min-height: 850px
  }
}

@media(min-width: 768px) {
  .homeHeroContainer {
      height: 94vh;
      min-height: 860px
  }
}





.bg-gray-dark-mktg {
  background-color: #040d21
}

.overflow-hidden {
  overflow: hidden !important
}

.position-relative {
  position: relative !important
}

.position-absolute {
  position: absolute !important
}
